<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APITestingAutomationFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="APITestingAutomationFramework.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <APITestingAutomationFramework.Properties.Settings>
            <setting name="Uri" serializeAs="String">
                <value>https://reqres.in/api/users</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>{"name": "Sid", "job": "Engineer"}</value>
            </setting>
            <setting name="putBody" serializeAs="String">
                <value>{"name": "Sid", "job": "Developer"}</value>
            </setting>
            <setting name="putUri" serializeAs="String">
                <value>https://reqres.in/api/users/2</value>
            </setting>
        </APITestingAutomationFramework.Properties.Settings>
        <APITestingAutomationFramework.Settings1>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://reqbin.com/</value>
            </setting>
            <setting name="GetEndpoint" serializeAs="String">
                <value>/echo</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value>{"name:" "Siddique", "job": "Quality Engineer"}</value>
            </setting>
            <setting name="Put" serializeAs="String">
                <value>{"name:"John", "job": "Windows Guru"}</value>
            </setting>
        </APITestingAutomationFramework.Settings1>
    </userSettings>
</configuration>